@import "src/variables";
@import "src/responsive";

:host {
  cursor: pointer;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: width ease-in-out 500ms, height ease-in-out 500ms, font-size ease-in-out 500ms;

  width: 1.8rem;
  height: 1.8rem;

  &.disabled {
    cursor: default;
    background: radial-gradient(
        170.07% 121.25% at 50% 50%,
        #6c6353 34.48%,
        #2b2926 100%
    );
    box-shadow: inset -4px -4px 4px -1px rgba(0, 0, 0, 0.25);
  }

  &.focused {
    border-color: #dac8b1;
  }

  &.disabled.submitted.in-word {
    background: radial-gradient(
        170.07% 121.25% at 50% 50%,
        #957f29 32.92%,
        #2b2926 100%
    );
    box-shadow: inset -4px -4px 4px -1px rgba(0, 0, 0, 0.25);
  }

  &.disabled.submitted.in-word.correct-position {
    background: radial-gradient(
        170.07% 121.25% at 50% 50%,
        #395e3b 32.92%,
        #2b2926 100%
    );
    box-shadow: inset -4px -4px 4px -1px rgba(0, 0, 0, 0.25);
  }

  & > input {
    position: absolute;
    user-input: none;
    width: 0;
    height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
  }

  & > span {
    display: flex;
  }


  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;


  background: radial-gradient(
      170.07% 121.25% at 50% 50%,
      rgba(175, 134, 85, 0.87) 32.92%,
      #2b2926 100%
  );
  box-shadow: inset -4px -4px 4px -1px rgba(0, 0, 0, 0.25);

}
