<ng-container *ngFor="let letter of word.split('')">
  <app-letter-tile *ngIf="letter !== ' '" [letter]="letter"></app-letter-tile>
  <div style="width: 20px" *ngIf="letter === ' '"></div>
</ng-container>
