@import "./src/responsive";

:host {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: flex;
  height: 32px;
  background-color: #3f5057;
  border: 1px black solid;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;

  @include uw-desktop-and-up {
    padding: 2rem;
  }

}
