<app-menu-tile>
  <section class="title-section">
    <div class="static-word">
      <app-letter-tile letter="n"></app-letter-tile
      ><app-letter-tile letter="o"></app-letter-tile
    ><app-letter-tile letter="t"></app-letter-tile>
    </div>
    <div class="static-word">
      <app-letter-tile letter="w"></app-letter-tile
      ><app-letter-tile letter="o"></app-letter-tile
    ><app-letter-tile letter="r"></app-letter-tile
    ><app-letter-tile letter="d"></app-letter-tile
    ><app-letter-tile letter="l"></app-letter-tile
    ><app-letter-tile letter="e"></app-letter-tile>
    </div>
  </section>

</app-menu-tile>
<app-menu-tile>
  <button class="button success">Login With Google!</button>

</app-menu-tile>
