
:host {

  &.letter-small {
    width: 20px;
    height: 20px;
    font-size: 16px
  }

  display: flex;
  flex-direction: column;

  & > app-menu-tile {
    position: static;
    padding: 50px;
    width: auto;

    margin: 0 32vw;

  }

  .footer {
    width: 100%;
    padding: 25px;
  }

  .title-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .static-word:first-of-type {
      margin-top: 85px;
    }

    & > .static-word {
      margin-top: 25px;
    }

    & > .static-word:last-of-type {
      margin-bottom: 85px;
    }
  }

  .static-word {
    display: flex;
    flex-direction: row;

    & > app-letter-tile {
      margin: 12.5px;
    }
  }
}

.action-group {
  display: flex;
  flex-direction: row;

  & > button {
    margin-right: 25px;
  }
}
