@import "./src/responsive";

@mixin tile($size) {
  justify-content: space-evenly;
  & > app-letter-tile {
    font-size: $size * 1em;
    .mono {
      font-size: $size * 1rem;
    }

    margin: $size * 4px;
    width: $size * 1.6rem;
    height: $size * 1.6rem;
  }
}

:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-self: center;




  @include tile(1);
  @include sm-phone-and-up {
    //border: 1px solid red;
    @include tile(2);
  }
  @include phone-and-up {
    //border: 1px solid green;
    @include tile(2);
  }
  @include tablet-and-up {
    //border: 1px solid blue;
    @include tile(3);
  }
  @include laptop-and-up {
    //border: 1px solid red;
    @include tile(4);
  }
  @include sm-desktop-and-up {
    //border: 1px solid darkblue;
    @include tile(4);
  }
  @include desktop-and-up {
    //border: 1px solid #395e3b;
    @include tile(4);
  }
  @include uw-desktop-and-up {
    //border: 1px solid azure;
    @include tile(4);
  }


}
