<ng-container [formGroup]="wordFormGroup">
  <ng-container formArrayName="word">
    <app-letter-tile
      [index]="$index"
      [tileState]="tileStates[$index]"
      [formControl]="letterFormControl"
      [submitted]="submitted"
      (forward$)="focusNextTile($index)"
      (backward$)="focusPreviousTile($index)"
      *ngFor="let letterFormControl of this.letterControls; index as $index"
    ></app-letter-tile>
  </ng-container>
</ng-container>
