<app-menu-tile *ngrxLet="store$.vm$; let vm">
  <section class="title-section">
    <div class="static-word" *ngFor="let word of vm.mainMenuTitle">
      <app-letter-tile
        *ngFor="let letter of word"
        [letter]="letter"
      ></app-letter-tile>
    </div>
  </section>

  <footer class="footer">
    <section class="action-group">
      <button class="button success" [routerLink]="['/']" (click)="newGame()">
        Play
      </button>
    </section>
  </footer>
</app-menu-tile>
