@import "src/responsive";
:host {
  display: flex;
  justify-content: center;

  height: calc(100% - 100px);

  app-menu-tile {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    width: auto;
    & > svg {
      margin-top: unset;
      margin-left: unset;
      transform: translate(-50px, -50px);
    }
  }

  @include sm-phone-and-up {
    margin: 0 -8px;
    flex-direction: column;
    justify-content: start;
    app-menu-tile {
      display: flex;
      flex-direction: column;
      width: auto;
      & > svg {
        margin-top: unset;
        margin-left: unset;
        transform: translate(-50px, -50px);
      }
    }

  }
  @include tablet-and-up {
    font-size: 24px;
    justify-content: center;
    align-items: center;
    app-menu-tile {
      display: flex;
      flex-direction: column;
      width: auto;
      & > svg {
        margin-top: unset;
        margin-left: unset;
        transform: translate(-50px, -50px);
      }
    }
  }

  app-menu-tile {
    flex-direction: column;
    padding: 3rem;
    height: fit-content;
    width: auto;
  }
  app-letter-tile {
    @include normal-tile;
  }
  .footer {
    width: 100%;
    padding: 25px;
  }

  .title-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .static-word:first-of-type {
      margin-top: 85px;
    }
    & > .static-word {
      margin-top: 25px;
    }
    & > .static-word:last-of-type {
      margin-bottom: 85px;
    }

  }
  .static-word {
    display: flex;
    flex-direction: row;
  }
}

.action-group {
  display: flex;
  flex-direction: row;
  & > button {
    margin-right: 25px;
  }
}
