<app-header class="game-header"
  ><dynamic-word
    class="header-dynamic-word"
    style="display: flex"
    word="NOT WORDLE"
  ></dynamic-word>
  <div class="game-header_title-spacer"></div
></app-header>
<router-outlet></router-outlet>
