@import "src/responsive";
:host {
  height: calc(100% - 100px);
  display: flex;

  flex-direction: column;
  app-menu-tile {
    display: flex;
    flex-direction: column;
    width: auto;
    & > svg {
      margin-top: unset;
      margin-left: unset;
      transform: translate(-50px, -50px);
    }
  }

  @include sm-phone-and-up {
    margin: 0 -8px;
    flex-direction: column;
    justify-content: start;
    app-menu-tile {
      display: flex;
      flex-direction: column;
      width: auto;
      & > svg {
        margin-top: unset;
        margin-left: unset;
        transform: translate(-50px, -50px);
      }
    }

  }
  @include tablet-and-up {
    justify-content: center;
    align-items: center;
    app-menu-tile {
      display: flex;
      flex-direction: column;
      width: auto;
      & > svg {
        margin-top: unset;
        margin-left: unset;
        transform: translate(-50px, -50px);
      }
    }
  }

}
