@use "sass:meta";
@mixin sm-phone-and-down {
  @media only screen and (max-width: 420px) {
    @content;
  }
}
@mixin sm-phone-and-up {
  @media only screen and (min-width: 290px) {
    @content;
  }
}
@mixin phone-and-up {
  @media only screen and (min-width: 420px) {
    @content;
  }
}

@mixin tablet-and-up {
  @media only screen and (min-width: 600px) {
    @content;
  }
}

@mixin laptop-and-up {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin sm-desktop-and-up {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin desktop-and-up() {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
@mixin uw-desktop-and-up() {
  @media only screen and (min-width: 2160px) {
    @content;
  }
}
@mixin normal-tile {

  @include sm-phone-and-up {
    width: 1.8rem;
    height: 1.8rem;
    .mono {
      font-size: 1rem;
    }
    &:not(:first-of-type) {
      margin-left: 2px;
    }
  }
  @include phone-and-up {
    width: 2rem;
    height: 2rem;
    .mono {
      font-size: 1rem;
    }
    &:not(:first-of-type) {
      margin-left: 2px;
    }
  }
  @include tablet-and-up {
    width: 2rem;
    height: 2rem;
    .mono {
      font-size: 1rem;
    }
    &:not(:first-of-type) {
      margin-left: 2px;
    }
  }
  @include laptop-and-up {
    width: 2.3rem;
    height: 2.3rem;
    .mono {
      font-size: 1.3rem;
    }
    &:not(:first-of-type) {
      margin-left: 4px;
    }
  }
  @include sm-desktop-and-up {
    width: 2.5rem;
    height: 2.5rem;
    .mono {
      font-size: 1.3rem;
    }
    &:not(:first-of-type) {
      margin-left: 4px;
    }
  }
  @include desktop-and-up {
    width: 3rem;
    height: 3rem;
    .mono {
      font-size: 1.6rem;
    }
    &:not(:first-of-type) {
      margin-left: 4px;
    }
  }
  @include uw-desktop-and-up {
    width: 4rem;
    height: 4rem;
    .mono {
      font-size: 2.6rem;
    }
    &:not(:first-of-type) {
      margin-left: 8px;
    }
  }
}
