@import "./responsive";
@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/Roboto_Mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
}



html,
body {
  background: #2f3c41;
  height: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
}
.game-header_title-spacer {
  display: flex;
  transition: flex ease-in-out 1s;
  flex: 0;
  @include desktop-and-up {
    flex: auto;
  }
}
app-header.game-header {
  margin: -8px -8px 0px -8px;
  & > header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

.game-header > header > dynamic-word.header-dynamic-word {
  & > app-letter-tile {
    @include normal-tile;
  }
}

.mono {
  font-family: "Roboto Mono", sans-serif;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;

  font-size: 16px;

  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25),
    inset -4px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  color: white;
  font-family: "Roboto Mono", sans-serif;
}
.button.success {
  background: #283329;
}

.button.success:hover {
  font-size: 16px;

  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25),
    inset -4px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.button.success:active {
  background: #2a382b;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25),
    inset -4px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.button.danger {
  background: #955353;
}

.button.danger:hover {
  background-color: #955353;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25),
    inset -4px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.button.danger:active,
.button.danger.active {
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25),
    inset -4px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background: #814545;
}
